<div class="container-fluid bg-black fixed-bottom">
    <h2>Ayush Blog</h2>
    <h3>still in prototype</h3>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>