<%- include('../layouts/header', {cssHref : 'css/about.css'}) %>
<%- include('../components/navbar') %> 

    <div class="container-fluid bg-primary rounded-2">
        HELLO
    </div>
    
<%- include('../layouts/footer') %>