<%- include('../layouts/header') %> 

<form action="/compose" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="blogTitle" placeholder="enter title for your blog">
      
    </div>
    <div class="mb-3">
        <label for="subTitle" class="form-label">Sub Title</label>
        <input type="text" class="form-control" id="subTitle" name="blogSubTitle" placeholder="enter sub-title for your blog">
        
      </div>
      <div class="mb-3">
        <label for="text" class="form-label">article</label>
        <input type="text" class="form-control" id="text" name="blogText" placeholder="enter your text">
      </div>

      <label for="topics">Select Your Topic</label>

      <select name="blogTopic" id="topics">
        <option value="linux">Linux</option>
        <option value="crypto">Crypto</option>
        <option value="day-to-day">Day To Day</option>
      </select>

    <button type="submit" class="btn btn-primary"> Submit</button>
  </form>

<%- include('../layouts/footer') %>